axon-M205.json
[{"id":"e61416b0225b108c","type":"tab","label":"Relays & Switches","disabled":false,"info":""},{"id":"d7c7821f8578b4b9","type":"tab","label":"Heating","disabled":false,"info":""},{"id":"e789d648fe508097","type":"group","z":"e61416b0225b108c","name":"BathRoom","style":{"label":true},"nodes":["5141bdc1065f4e9e","3fd7cb854fb18ece","ca6f8c3ef3fd5be8"],"x":334,"y":99,"w":172,"h":162},{"id":"272b204882121a82","type":"group","z":"e61416b0225b108c","name":"2_07","style":{"label":true},"nodes":["5fafecce121290c0","1ceecae68babae38","9a2a77620c9620b2","9628429cd50cb9ad","b25c596fc672964b"],"x":334,"y":879,"w":692,"h":82},{"id":"277baaaccf934852","type":"group","z":"e61416b0225b108c","name":"2_04","style":{"label":true},"nodes":["5ffa10ade89df300","0725bbd476db2fb8","6270035cd746b1b4","263cb1c5952573e8","c637e63bf921cb00"],"x":334,"y":579,"w":692,"h":82},{"id":"bd3648c59df1f38a","type":"group","z":"e61416b0225b108c","name":"2_01","style":{"label":true},"nodes":["01f989aa47f0c90f","6ea1669e0cd8542d","2b23ff9e4f6c7d20","cfb09e261b16735c","41f0bc4e52a597df"],"x":334,"y":279,"w":692,"h":82},{"id":"b636da351de6b2cb","type":"group","z":"e61416b0225b108c","name":"2_02","style":{"label":true},"nodes":["aa0e49b1bf9df818","1e8cbc3cc1b71465","3916c6c6397c8264","781ad8789712d6a3","c40a16ce74a2771d"],"x":334,"y":379,"w":692,"h":82},{"id":"34cf5a8154fd81ca","type":"group","z":"e61416b0225b108c","name":"2_03","style":{"label":true},"nodes":["a59e5042c30a55c1","4ba89cb0365cb032","ad2b9b5d290a6faa","e81839678c5836b6","b0b8dde166595c10"],"x":334,"y":479,"w":692,"h":82},{"id":"0a9abe0e7306af21","type":"group","z":"e61416b0225b108c","name":"2_06","style":{"label":true,"fill-opacity":"0.39"},"nodes":["84543e919629c4fc","7c9d5ee15665583b","c4212bb1fb4245f6","7282ed1fdac17d11","bd25c9f79d4933ab"],"x":334,"y":779,"w":692,"h":82},{"id":"c0e7e457948eb5fe","type":"group","z":"e61416b0225b108c","name":"2_05","style":{"label":true},"nodes":["71475fb5b0d2cd52","8cdd77428fb396f0","d36a0fd15efc5dfa","50f8100c2ec90c8a","46c724cd638e13ee"],"x":334,"y":679,"w":692,"h":82},{"id":"56b49440d9e8546e","type":"group","z":"e61416b0225b108c","name":"2_13","style":{"label":true,"fill-opacity":"0.39"},"nodes":["5e73bb376d7db9cf","3f41c36665e1bdc1","e61a84a6c8766d5f","d73ce29e9b26278b","500bdea941bde842"],"x":334,"y":1479,"w":692,"h":82},{"id":"b317eb9d3b88c7be","type":"group","z":"e61416b0225b108c","name":"2_14","style":{"label":true},"nodes":["dda745417e913f40","2348447aff692be8","fe17103e8ef3a899","d3cc912b33b3f154","d02f803240b3701b"],"x":334,"y":1579,"w":692,"h":82},{"id":"4fa1c3589f2743fe","type":"group","z":"e61416b0225b108c","name":"2_11","style":{"label":true},"nodes":["fe4118030e0eea82","0a41e2db954caa16","335a345b70f91d90","6bce282ba3524941","d98f48809c6aef8d"],"x":334,"y":1279,"w":692,"h":82},{"id":"76d3d30340b0d921","type":"group","z":"e61416b0225b108c","name":"2_10","style":{"label":true},"nodes":["dbdd7a9946765bc4","3e8e7239139e64b2","8475d69f279faacc","5baac02da499261b","0abf2ae3ad754e0c"],"x":334,"y":1179,"w":692,"h":82},{"id":"939eddc229fb46fe","type":"group","z":"e61416b0225b108c","name":"2_09","style":{"label":true},"nodes":["9b20189a1d99de74","8b07944da8363737","08f1cd82f8ad1912","8a629e7460f90802","4f272e057b07463c"],"x":334,"y":1079,"w":692,"h":82},{"id":"d8340a8ce5ee5b54","type":"group","z":"e61416b0225b108c","name":"2_08","style":{"label":true},"nodes":["750ef96d7d929e38","a79404dd3510df4c","e9b04fea4197419d","aa6392a291ed7ba0","48ea7512df3acf15"],"x":334,"y":979,"w":692,"h":82},{"id":"cb9efd05bf41e238","type":"group","z":"e61416b0225b108c","name":"2_12","style":{"label":true},"nodes":["26474f820caf9b7b","bc92df68099309dd","754c1e2f9b4fd918","0c8ba7dbca9f58aa","eaa322c266556bf3"],"x":334,"y":1379,"w":692,"h":82},{"id":"8af8b5d078a2b6e7","type":"group","z":"d7c7821f8578b4b9","name":"1_03","style":{"label":true},"nodes":["1fe441fc9b280358","fc81b531b886ef47","e1b43099bf10489e","fbb5236232af45c3","f638655ca218dcbc","82202babb3ec3e7c"],"x":254,"y":219},{"id":"213ddd612dd8a967","type":"group","z":"d7c7821f8578b4b9","name":"1_02","style":{"label":true},"nodes":["1fdfa8913a7910cd","b1f3c4e071308fb6","f4c545dec9a467b8","87feb35afb6014e3","bd5505f6a9f79a94","d9a9c12b4488a331"],"x":254,"y":119},{"id":"b22450ba7cac7e21","type":"group","z":"d7c7821f8578b4b9","name":"1_01","style":{"label":true},"nodes":["0a3196b93717ef49","32a5e0dcb6dec6f0","113a46da035fa1a3","d9df55183fb3675c","06b55f338ed1e17d","c0d292af471e6c15"],"x":254,"y":19},{"id":"3673d0265ccaf68b","type":"group","z":"d7c7821f8578b4b9","name":"1_04","style":{"label":true},"nodes":["ef8f28cdacf70bbc","cfdece86c7e41ea8","69019a5f87662ce1","690228f758ec4a88","8b6e803990bfd917","92deb72f31373ca1"],"x":254,"y":319},{"id":"fa87ece.ccc5b1","type":"websocket-client","path":"ws://127.0.0.1:8080/ws","tls":"","wholemsg":"false","hb":"0"},{"id":"ff81c0a2.338b5","type":"ui_tab","name":"Unipi","icon":"dashboard","disabled":false,"hidden":false},{"id":"2090ed8f.9d8142","type":"mqtt-broker","name":"","broker":"192.168.1.10","port":"1883","clientid":"node-red","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"home/neuron2","birthQos":"0","birthRetain":"false","birthPayload":"online","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"43ce9f131b84af96","type":"websocket-listener","path":"ws://127.0.0.1:8080/ws","wholemsg":"false"},{"id":"41108723.0bf848","type":"server","name":"Home Assistant","version":2,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"5d954e3e.9339b","type":"ui_tab","name":"Cronotermostato","icon":"dashboard","disabled":false,"hidden":false},{"id":"acfe3b4d13ce094a","type":"debug","z":"e61416b0225b108c","name":"to flow","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":150,"y":120,"wires":[]},{"id":"2b684b5e103961cf","type":"websocket in","z":"e61416b0225b108c","name":"PLC Listen","server":"43ce9f131b84af96","client":"","x":140,"y":400,"wires":[["662b365064649e1d","ca6f8c3ef3fd5be8","1ceecae68babae38","0725bbd476db2fb8","6ea1669e0cd8542d","1e8cbc3cc1b71465","4ba89cb0365cb032","8cdd77428fb396f0","7c9d5ee15665583b","a79404dd3510df4c","8b07944da8363737","3e8e7239139e64b2","0a41e2db954caa16","bc92df68099309dd","3f41c36665e1bdc1","2348447aff692be8","322c55fa9e05bf69"]]},{"id":"662b365064649e1d","type":"json","z":"e61416b0225b108c","name":"","x":150,"y":460,"wires":[["be4da9a91a4ec8df"]]},{"id":"30b65b10a580143f","type":"split","z":"e61416b0225b108c","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":150,"y":540,"wires":[["5cabf7aeb4557c48"]]},{"id":"5cabf7aeb4557c48","type":"switch","z":"e61416b0225b108c","name":"","property":"payload.dev","propertyType":"msg","rules":[{"t":"eq","v":"input","vt":"str"},{"t":"eq","v":"relay","vt":"str"},{"t":"eq","v":"ao","vt":"str"},{"t":"eq","v":"led","vt":"str"},{"t":"eq","v":"temp","vt":"str"},{"t":"neq","v":"ai","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":150,"y":600,"wires":[["91bcc4604a6de98f"],["3210eb77bad26b6b","a16320eea3e9615a"],[],[],["a16320eea3e9615a","3f2846921f247fd5"],[]]},{"id":"87aec8175b1054be","type":"debug","z":"e61416b0225b108c","name":"ai","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":150,"y":200,"wires":[]},{"id":"3210eb77bad26b6b","type":"debug","z":"e61416b0225b108c","name":"relays","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":150,"y":240,"wires":[]},{"id":"91bcc4604a6de98f","type":"debug","z":"e61416b0225b108c","name":"imputs","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":150,"y":280,"wires":[]},{"id":"a16320eea3e9615a","type":"function","z":"e61416b0225b108c","name":"to flow","func":"// var mode = msg.payload.mode;\nvar key = msg.payload.dev + \"_\" + msg.payload.circuit;\nvar key_time = msg.payload.dev + \"_\" + msg.payload.circuit + '_time';\n\nvar newSet = flow.get('unipi-super') || {};\nvar oldSet = flow.get('unipi-super') || {};\nvar current_time = (new Date()).getTime();\n\nif ( !oldSet[key_time] ) {\n    newSet[key_time] = current_time;\n}\n\nif (msg.payload.dev == 'temp' && oldSet && (current_time - oldSet[key_time]) > 1800000) {\n    var key_diff = msg.payload.dev + \"_\" + msg.payload.circuit + \"_diff\";\n    newSet[key_diff] = Math.round(msg.payload.value - oldSet[key]);\n    newSet[key_time] = current_time;\n}\nnewSet[key] = msg.payload.value;\nflow.set('unipi-super', newSet);\n\nreturn [msg, flow.get('unipi-super'), oldSet];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":660,"wires":[[],["acfe3b4d13ce094a"],["826f0804abc30c6a"]]},{"id":"5141bdc1065f4e9e","type":"function","z":"e61416b0225b108c","g":"e789d648fe508097","name":"Toggle","func":"if ( msg.payload.value == 1 && flow.get('unipi-super') ) {\n    msg.payload = ! flow.get('unipi-super')['relay_2_05'];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":180,"wires":[["3fd7cb854fb18ece"]]},{"id":"6f76330970488d93","type":"http request","z":"e61416b0225b108c","name":"states","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://127.0.0.1:8080/rest/all","tls":"","persist":false,"proxy":"","authType":"","x":150,"y":880,"wires":[["9201e050afbdc3b2"]]},{"id":"9fd9db8fe6536641","type":"inject","z":"e61416b0225b108c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payloadType":"str","x":150,"y":920,"wires":[["6f76330970488d93"]]},{"id":"9201e050afbdc3b2","type":"json","z":"e61416b0225b108c","name":"","x":150,"y":840,"wires":[["7d90a144056be244","2c71b6e976100a17"]]},{"id":"7d90a144056be244","type":"split","z":"e61416b0225b108c","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":150,"y":800,"wires":[["2bda103164e32253"]]},{"id":"2bda103164e32253","type":"switch","z":"e61416b0225b108c","name":"","property":"payload.dev","propertyType":"msg","rules":[{"t":"eq","v":"input","vt":"str"},{"t":"eq","v":"relay","vt":"str"},{"t":"eq","v":"ao","vt":"str"},{"t":"eq","v":"led","vt":"str"},{"t":"eq","v":"temp","vt":"str"},{"t":"neq","v":"ai","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":150,"y":740,"wires":[[],["a16320eea3e9615a","c637e63bf921cb00","b25c596fc672964b","41f0bc4e52a597df","c40a16ce74a2771d","b0b8dde166595c10","46c724cd638e13ee","bd25c9f79d4933ab","48ea7512df3acf15","4f272e057b07463c","0abf2ae3ad754e0c","d98f48809c6aef8d","eaa322c266556bf3","500bdea941bde842","d02f803240b3701b","53d9df858f069536"],[],[],["a16320eea3e9615a"],[]]},{"id":"3fd7cb854fb18ece","type":"unipi-output","z":"e61416b0225b108c","g":"e789d648fe508097","name":"Light","cmd":"set","alias":"","devices":"relay","circuits":"2_05","enableFil":"1","inputFil":"","relayFil":"","digoutFil":"","analoutFil":"","analinFil":"","ledFil":"","x":430,"y":220,"wires":[["44b5731470812754"]]},{"id":"44b5731470812754","type":"websocket out","z":"e61416b0225b108c","name":"PCL Touch","server":"","client":"fa87ece.ccc5b1","x":1250,"y":440,"wires":[]},{"id":"ca6f8c3ef3fd5be8","type":"unipi-input","z":"e61416b0225b108c","g":"e789d648fe508097","name":"Backeard","alias":"","devices":"input","circuits":"2_08","property":"","seedev":"0","seecirc":"0","seeorig":"0","x":420,"y":140,"wires":[["5141bdc1065f4e9e"]]},{"id":"5fafecce121290c0","type":"ha-entity","z":"e61416b0225b108c","g":"272b204882121a82","name":"2_07","server":"41108723.0bf848","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"unipi_2_07"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:coach-lamp"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":690,"y":920,"wires":[["9628429cd50cb9ad"],["9628429cd50cb9ad"]]},{"id":"1ceecae68babae38","type":"unipi-input","z":"e61416b0225b108c","g":"272b204882121a82","name":"2_07","alias":"","devices":"relay","circuits":"2_07","property":"","seedev":"0","seecirc":"0","seeorig":"0","x":410,"y":920,"wires":[["b25c596fc672964b"]]},{"id":"9a2a77620c9620b2","type":"unipi-output","z":"e61416b0225b108c","g":"272b204882121a82","name":"2_07","cmd":"set","alias":"","devices":"relay","circuits":"2_07","enableFil":"1","inputFil":"","relayFil":"","digoutFil":"","analoutFil":"","analinFil":"","ledFil":"","x":950,"y":920,"wires":[["44b5731470812754"]]},{"id":"9628429cd50cb9ad","type":"change","z":"e61416b0225b108c","g":"272b204882121a82","name":"on to 1","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":920,"wires":[["9a2a77620c9620b2"]]},{"id":"5ffa10ade89df300","type":"ha-entity","z":"e61416b0225b108c","g":"277baaaccf934852","name":"2_04","server":"41108723.0bf848","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"unipi_2_04"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:globe-light"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":690,"y":620,"wires":[["263cb1c5952573e8"],["263cb1c5952573e8"]]},{"id":"0725bbd476db2fb8","type":"unipi-input","z":"e61416b0225b108c","g":"277baaaccf934852","name":"2_04","alias":"","devices":"relay","circuits":"2_04","property":"","seedev":"0","seecirc":"0","seeorig":"0","x":410,"y":620,"wires":[["c637e63bf921cb00"]]},{"id":"6270035cd746b1b4","type":"unipi-output","z":"e61416b0225b108c","g":"277baaaccf934852","name":"2_04","cmd":"set","alias":"","devices":"relay","circuits":"2_04","enableFil":"1","inputFil":"","relayFil":"","digoutFil":"","analoutFil":"","analinFil":"","ledFil":"","x":950,"y":620,"wires":[["44b5731470812754"]]},{"id":"263cb1c5952573e8","type":"change","z":"e61416b0225b108c","g":"277baaaccf934852","name":"on to 1","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":620,"wires":[["6270035cd746b1b4"]]},{"id":"b25c596fc672964b","type":"function","z":"e61416b0225b108c","g":"272b204882121a82","name":"to enable","func":"if ( msg.payload.circuit == '2_07' ) {\n    newMsg = {\n        'payload': msg.payload.value,\n        'enable': msg.payload.value == 1,\n    };\n} else {\n    newMsg = false;\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":920,"wires":[["5fafecce121290c0"]]},{"id":"c637e63bf921cb00","type":"function","z":"e61416b0225b108c","g":"277baaaccf934852","name":"to enable","func":"if ( msg.payload.circuit == '2_04' ) {\n    newMsg = {\n        'payload': msg.payload.value,\n        'enable': msg.payload.value == 1,\n    };\n} else {\n    newMsg = false;\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":620,"wires":[["5ffa10ade89df300"]]},{"id":"01f989aa47f0c90f","type":"ha-entity","z":"e61416b0225b108c","g":"bd3648c59df1f38a","name":"2_01","server":"41108723.0bf848","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"unipi_2_01"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:globe-light"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":690,"y":320,"wires":[["cfb09e261b16735c"],["cfb09e261b16735c"]]},{"id":"6ea1669e0cd8542d","type":"unipi-input","z":"e61416b0225b108c","g":"bd3648c59df1f38a","name":"2_01","alias":"","devices":"relay","circuits":"2_01","property":"","seedev":"0","seecirc":"0","seeorig":"0","x":410,"y":320,"wires":[["41f0bc4e52a597df"]]},{"id":"2b23ff9e4f6c7d20","type":"unipi-output","z":"e61416b0225b108c","g":"bd3648c59df1f38a","name":"2_01","cmd":"set","alias":"","devices":"relay","circuits":"2_01","enableFil":"1","inputFil":"","relayFil":"","digoutFil":"","analoutFil":"","analinFil":"","ledFil":"","x":950,"y":320,"wires":[["44b5731470812754"]]},{"id":"cfb09e261b16735c","type":"change","z":"e61416b0225b108c","g":"bd3648c59df1f38a","name":"on to 1","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":320,"wires":[["2b23ff9e4f6c7d20"]]},{"id":"41f0bc4e52a597df","type":"function","z":"e61416b0225b108c","g":"bd3648c59df1f38a","name":"to enable","func":"if ( msg.payload.circuit == '2_01' ) {\n    newMsg = {\n        'payload': msg.payload.value,\n        'enable': msg.payload.value == 1,\n    };\n} else {\n    newMsg = false;\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":320,"wires":[["01f989aa47f0c90f"]]},{"id":"aa0e49b1bf9df818","type":"ha-entity","z":"e61416b0225b108c","g":"b636da351de6b2cb","name":"2_02","server":"41108723.0bf848","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"unipi_2_02"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:dome-light"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":690,"y":420,"wires":[["781ad8789712d6a3"],["781ad8789712d6a3"]]},{"id":"1e8cbc3cc1b71465","type":"unipi-input","z":"e61416b0225b108c","g":"b636da351de6b2cb","name":"2_02","alias":"","devices":"relay","circuits":"2_02","property":"","seedev":"0","seecirc":"0","seeorig":"0","x":410,"y":420,"wires":[["c40a16ce74a2771d"]]},{"id":"3916c6c6397c8264","type":"unipi-output","z":"e61416b0225b108c","g":"b636da351de6b2cb","name":"2_02","cmd":"set","alias":"","devices":"relay","circuits":"2_02","enableFil":"1","inputFil":"","relayFil":"","digoutFil":"","analoutFil":"","analinFil":"","ledFil":"","x":950,"y":420,"wires":[["44b5731470812754"]]},{"id":"781ad8789712d6a3","type":"change","z":"e61416b0225b108c","g":"b636da351de6b2cb","name":"on to 1","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":420,"wires":[["3916c6c6397c8264"]]},{"id":"c40a16ce74a2771d","type":"function","z":"e61416b0225b108c","g":"b636da351de6b2cb","name":"to enable","func":"if ( msg.payload.circuit == '2_02' ) {\n    newMsg = {\n        'payload': msg.payload.value,\n        'enable': msg.payload.value == 1,\n    };\n} else {\n    newMsg = false;\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":420,"wires":[["aa0e49b1bf9df818"]]},{"id":"a59e5042c30a55c1","type":"ha-entity","z":"e61416b0225b108c","g":"34cf5a8154fd81ca","name":"2_03","server":"41108723.0bf848","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"unipi_2_03"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:globe-light"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":690,"y":520,"wires":[["e81839678c5836b6"],["e81839678c5836b6"]]},{"id":"4ba89cb0365cb032","type":"unipi-input","z":"e61416b0225b108c","g":"34cf5a8154fd81ca","name":"2_03","alias":"","devices":"relay","circuits":"2_03","property":"","seedev":"0","seecirc":"0","seeorig":"0","x":410,"y":520,"wires":[["b0b8dde166595c10"]]},{"id":"ad2b9b5d290a6faa","type":"unipi-output","z":"e61416b0225b108c","g":"34cf5a8154fd81ca","name":"2_03","cmd":"set","alias":"","devices":"relay","circuits":"2_03","enableFil":"1","inputFil":"","relayFil":"","digoutFil":"","analoutFil":"","analinFil":"","ledFil":"","x":950,"y":520,"wires":[[]]},{"id":"e81839678c5836b6","type":"change","z":"e61416b0225b108c","g":"34cf5a8154fd81ca","name":"on to 1","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":520,"wires":[["ad2b9b5d290a6faa"]]},{"id":"b0b8dde166595c10","type":"function","z":"e61416b0225b108c","g":"34cf5a8154fd81ca","name":"to enable","func":"if ( msg.payload.circuit == '2_03' ) {\n    newMsg = {\n        'payload': msg.payload.value,\n        'enable': msg.payload.value == 1,\n    };\n} else {\n    newMsg = false;\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":520,"wires":[["a59e5042c30a55c1"]]},{"id":"84543e919629c4fc","type":"ha-entity","z":"e61416b0225b108c","g":"0a9abe0e7306af21","name":"2_06","server":"41108723.0bf848","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"unipi_2_06"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:globe-light"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":690,"y":820,"wires":[["7282ed1fdac17d11"],["7282ed1fdac17d11"]]},{"id":"7c9d5ee15665583b","type":"unipi-input","z":"e61416b0225b108c","g":"0a9abe0e7306af21","name":"2_06","alias":"","devices":"relay","circuits":"2_06","property":"","seedev":"0","seecirc":"0","seeorig":"0","x":410,"y":820,"wires":[["bd25c9f79d4933ab"]]},{"id":"c4212bb1fb4245f6","type":"unipi-output","z":"e61416b0225b108c","g":"0a9abe0e7306af21","name":"2_06","cmd":"set","alias":"","devices":"relay","circuits":"2_06","enableFil":"1","inputFil":"","relayFil":"","digoutFil":"","analoutFil":"","analinFil":"","ledFil":"","x":950,"y":820,"wires":[["44b5731470812754"]]},{"id":"7282ed1fdac17d11","type":"change","z":"e61416b0225b108c","g":"0a9abe0e7306af21","name":"on to 1","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":820,"wires":[["c4212bb1fb4245f6"]]},{"id":"bd25c9f79d4933ab","type":"function","z":"e61416b0225b108c","g":"0a9abe0e7306af21","name":"to enable","func":"if ( msg.payload.circuit == '2_06' ) {\n    newMsg = {\n        'payload': msg.payload.value,\n        'enable': msg.payload.value == 1,\n    };\n} else {\n    newMsg = false;\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":820,"wires":[["84543e919629c4fc"]]},{"id":"71475fb5b0d2cd52","type":"ha-entity","z":"e61416b0225b108c","g":"c0e7e457948eb5fe","name":"2_05","server":"41108723.0bf848","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"unipi_2_05"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:dome-light"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":690,"y":720,"wires":[["50f8100c2ec90c8a"],["50f8100c2ec90c8a"]]},{"id":"8cdd77428fb396f0","type":"unipi-input","z":"e61416b0225b108c","g":"c0e7e457948eb5fe","name":"2_05","alias":"","devices":"relay","circuits":"2_05","property":"","seedev":"0","seecirc":"0","seeorig":"0","x":410,"y":720,"wires":[["46c724cd638e13ee"]]},{"id":"d36a0fd15efc5dfa","type":"unipi-output","z":"e61416b0225b108c","g":"c0e7e457948eb5fe","name":"2_05","cmd":"set","alias":"","devices":"relay","circuits":"2_05","enableFil":"1","inputFil":"","relayFil":"","digoutFil":"","analoutFil":"","analinFil":"","ledFil":"","x":950,"y":720,"wires":[["44b5731470812754"]]},{"id":"50f8100c2ec90c8a","type":"change","z":"e61416b0225b108c","g":"c0e7e457948eb5fe","name":"on to 1","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":720,"wires":[["d36a0fd15efc5dfa"]]},{"id":"46c724cd638e13ee","type":"function","z":"e61416b0225b108c","g":"c0e7e457948eb5fe","name":"to enable","func":"if ( msg.payload.circuit == '2_05' ) {\n    newMsg = {\n        'payload': msg.payload.value,\n        'enable': msg.payload.value == 1,\n    };\n} else {\n    newMsg = false;\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":720,"wires":[["71475fb5b0d2cd52"]]},{"id":"5e73bb376d7db9cf","type":"ha-entity","z":"e61416b0225b108c","g":"56b49440d9e8546e","name":"2_13","server":"41108723.0bf848","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"unipi_2_13"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:globe-light"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":690,"y":1520,"wires":[["d73ce29e9b26278b"],["d73ce29e9b26278b"]]},{"id":"3f41c36665e1bdc1","type":"unipi-input","z":"e61416b0225b108c","g":"56b49440d9e8546e","name":"2_13","alias":"","devices":"relay","circuits":"2_13","property":"","seedev":"0","seecirc":"0","seeorig":"0","x":410,"y":1520,"wires":[["500bdea941bde842"]]},{"id":"e61a84a6c8766d5f","type":"unipi-output","z":"e61416b0225b108c","g":"56b49440d9e8546e","name":"2_13","cmd":"set","alias":"","devices":"relay","circuits":"2_06","enableFil":"1","inputFil":"","relayFil":"","digoutFil":"","analoutFil":"","analinFil":"","ledFil":"","x":950,"y":1520,"wires":[["44b5731470812754"]]},{"id":"d73ce29e9b26278b","type":"change","z":"e61416b0225b108c","g":"56b49440d9e8546e","name":"on to 1","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1520,"wires":[["e61a84a6c8766d5f"]]},{"id":"500bdea941bde842","type":"function","z":"e61416b0225b108c","g":"56b49440d9e8546e","name":"to enable","func":"if ( msg.payload.circuit == '2_13' ) {\n    newMsg = {\n        'payload': msg.payload.value,\n        'enable': msg.payload.value == 1,\n    };\n} else {\n    newMsg = false;\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1520,"wires":[["5e73bb376d7db9cf"]]},{"id":"dda745417e913f40","type":"ha-entity","z":"e61416b0225b108c","g":"b317eb9d3b88c7be","name":"2_14","server":"41108723.0bf848","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"unipi_2_14"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:globe-light"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":690,"y":1620,"wires":[["d3cc912b33b3f154"],["d3cc912b33b3f154"]]},{"id":"2348447aff692be8","type":"unipi-input","z":"e61416b0225b108c","g":"b317eb9d3b88c7be","name":"2_14","alias":"","devices":"relay","circuits":"2_14","property":"","seedev":"0","seecirc":"0","seeorig":"0","x":410,"y":1620,"wires":[["d02f803240b3701b"]]},{"id":"fe17103e8ef3a899","type":"unipi-output","z":"e61416b0225b108c","g":"b317eb9d3b88c7be","name":"2_14","cmd":"set","alias":"","devices":"relay","circuits":"2_14","enableFil":"1","inputFil":"","relayFil":"","digoutFil":"","analoutFil":"","analinFil":"","ledFil":"","x":950,"y":1620,"wires":[["44b5731470812754"]]},{"id":"d3cc912b33b3f154","type":"change","z":"e61416b0225b108c","g":"b317eb9d3b88c7be","name":"on to 1","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1620,"wires":[["fe17103e8ef3a899"]]},{"id":"d02f803240b3701b","type":"function","z":"e61416b0225b108c","g":"b317eb9d3b88c7be","name":"to enable","func":"if ( msg.payload.circuit == '2_14' ) {\n    newMsg = {\n        'payload': msg.payload.value,\n        'enable': msg.payload.value == 1,\n    };\n} else {\n    newMsg = false;\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1620,"wires":[["dda745417e913f40"]]},{"id":"fe4118030e0eea82","type":"ha-entity","z":"e61416b0225b108c","g":"4fa1c3589f2743fe","name":"2_11","server":"41108723.0bf848","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"unipi_2_11"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:globe-light"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":690,"y":1320,"wires":[["6bce282ba3524941"],["6bce282ba3524941"]]},{"id":"0a41e2db954caa16","type":"unipi-input","z":"e61416b0225b108c","g":"4fa1c3589f2743fe","name":"2_11","alias":"","devices":"relay","circuits":"2_11","property":"","seedev":"0","seecirc":"0","seeorig":"0","x":410,"y":1320,"wires":[["d98f48809c6aef8d"]]},{"id":"335a345b70f91d90","type":"unipi-output","z":"e61416b0225b108c","g":"4fa1c3589f2743fe","name":"2_11","cmd":"set","alias":"","devices":"relay","circuits":"2_11","enableFil":"1","inputFil":"","relayFil":"","digoutFil":"","analoutFil":"","analinFil":"","ledFil":"","x":950,"y":1320,"wires":[["44b5731470812754"]]},{"id":"6bce282ba3524941","type":"change","z":"e61416b0225b108c","g":"4fa1c3589f2743fe","name":"on to 1","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1320,"wires":[["335a345b70f91d90"]]},{"id":"d98f48809c6aef8d","type":"function","z":"e61416b0225b108c","g":"4fa1c3589f2743fe","name":"to enable","func":"if ( msg.payload.circuit == '2_11' ) {\n    newMsg = {\n        'payload': msg.payload.value,\n        'enable': msg.payload.value == 1,\n    };\n} else {\n    newMsg = false;\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1320,"wires":[["fe4118030e0eea82"]]},{"id":"dbdd7a9946765bc4","type":"ha-entity","z":"e61416b0225b108c","g":"76d3d30340b0d921","name":"2_10","server":"41108723.0bf848","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"unipi_2_10"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:globe-light"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":690,"y":1220,"wires":[["5baac02da499261b"],["5baac02da499261b"]]},{"id":"3e8e7239139e64b2","type":"unipi-input","z":"e61416b0225b108c","g":"76d3d30340b0d921","name":"2_10","alias":"","devices":"relay","circuits":"2_10","property":"","seedev":"0","seecirc":"0","seeorig":"0","x":410,"y":1220,"wires":[["0abf2ae3ad754e0c"]]},{"id":"8475d69f279faacc","type":"unipi-output","z":"e61416b0225b108c","g":"76d3d30340b0d921","name":"2_10","cmd":"set","alias":"","devices":"relay","circuits":"2_10","enableFil":"1","inputFil":"","relayFil":"","digoutFil":"","analoutFil":"","analinFil":"","ledFil":"","x":950,"y":1220,"wires":[["44b5731470812754"]]},{"id":"5baac02da499261b","type":"change","z":"e61416b0225b108c","g":"76d3d30340b0d921","name":"on to 1","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1220,"wires":[["8475d69f279faacc"]]},{"id":"0abf2ae3ad754e0c","type":"function","z":"e61416b0225b108c","g":"76d3d30340b0d921","name":"to enable","func":"if ( msg.payload.circuit == '2_10' ) {\n    newMsg = {\n        'payload': msg.payload.value,\n        'enable': msg.payload.value == 1,\n    };\n} else {\n    newMsg = false;\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1220,"wires":[["dbdd7a9946765bc4"]]},{"id":"9b20189a1d99de74","type":"ha-entity","z":"e61416b0225b108c","g":"939eddc229fb46fe","name":"2_09","server":"41108723.0bf848","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"unipi_2_09"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:globe-light"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":690,"y":1120,"wires":[["8a629e7460f90802"],["8a629e7460f90802"]]},{"id":"8b07944da8363737","type":"unipi-input","z":"e61416b0225b108c","g":"939eddc229fb46fe","name":"2_09","alias":"","devices":"relay","circuits":"2_02","property":"","seedev":"0","seecirc":"0","seeorig":"0","x":410,"y":1120,"wires":[["4f272e057b07463c"]]},{"id":"08f1cd82f8ad1912","type":"unipi-output","z":"e61416b0225b108c","g":"939eddc229fb46fe","name":"2_09","cmd":"set","alias":"","devices":"relay","circuits":"2_09","enableFil":"1","inputFil":"","relayFil":"","digoutFil":"","analoutFil":"","analinFil":"","ledFil":"","x":950,"y":1120,"wires":[["44b5731470812754"]]},{"id":"8a629e7460f90802","type":"change","z":"e61416b0225b108c","g":"939eddc229fb46fe","name":"on to 1","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1120,"wires":[["08f1cd82f8ad1912"]]},{"id":"4f272e057b07463c","type":"function","z":"e61416b0225b108c","g":"939eddc229fb46fe","name":"to enable","func":"if ( msg.payload.circuit == '2_09' ) {\n    newMsg = {\n        'payload': msg.payload.value,\n        'enable': msg.payload.value == 1,\n    };\n} else {\n    newMsg = false;\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1120,"wires":[["9b20189a1d99de74"]]},{"id":"750ef96d7d929e38","type":"ha-entity","z":"e61416b0225b108c","g":"d8340a8ce5ee5b54","name":"2_08","server":"41108723.0bf848","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"unipi_2_08"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:globe-light"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":690,"y":1020,"wires":[["aa6392a291ed7ba0"],["aa6392a291ed7ba0"]]},{"id":"a79404dd3510df4c","type":"unipi-input","z":"e61416b0225b108c","g":"d8340a8ce5ee5b54","name":"2_08","alias":"","devices":"relay","circuits":"2_08","property":"","seedev":"0","seecirc":"0","seeorig":"0","x":410,"y":1020,"wires":[["48ea7512df3acf15"]]},{"id":"e9b04fea4197419d","type":"unipi-output","z":"e61416b0225b108c","g":"d8340a8ce5ee5b54","name":"2_08","cmd":"set","alias":"","devices":"relay","circuits":"2_08","enableFil":"1","inputFil":"","relayFil":"","digoutFil":"","analoutFil":"","analinFil":"","ledFil":"","x":950,"y":1020,"wires":[["44b5731470812754"]]},{"id":"aa6392a291ed7ba0","type":"change","z":"e61416b0225b108c","g":"d8340a8ce5ee5b54","name":"on to 1","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1020,"wires":[["e9b04fea4197419d"]]},{"id":"48ea7512df3acf15","type":"function","z":"e61416b0225b108c","g":"d8340a8ce5ee5b54","name":"to enable","func":"if ( msg.payload.circuit == '2_08' ) {\n    newMsg = {\n        'payload': msg.payload.value,\n        'enable': msg.payload.value == 1,\n    };\n} else {\n    newMsg = false;\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1020,"wires":[["750ef96d7d929e38"]]},{"id":"26474f820caf9b7b","type":"ha-entity","z":"e61416b0225b108c","g":"cb9efd05bf41e238","name":"2_12","server":"41108723.0bf848","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"unipi_2_12"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:globe-light"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":690,"y":1420,"wires":[["0c8ba7dbca9f58aa"],["0c8ba7dbca9f58aa"]]},{"id":"bc92df68099309dd","type":"unipi-input","z":"e61416b0225b108c","g":"cb9efd05bf41e238","name":"2_12","alias":"","devices":"relay","circuits":"2_12","property":"","seedev":"0","seecirc":"0","seeorig":"0","x":410,"y":1420,"wires":[["eaa322c266556bf3"]]},{"id":"754c1e2f9b4fd918","type":"unipi-output","z":"e61416b0225b108c","g":"cb9efd05bf41e238","name":"2_12","cmd":"set","alias":"","devices":"relay","circuits":"2_12","enableFil":"1","inputFil":"","relayFil":"","digoutFil":"","analoutFil":"","analinFil":"","ledFil":"","x":950,"y":1420,"wires":[["44b5731470812754"]]},{"id":"0c8ba7dbca9f58aa","type":"change","z":"e61416b0225b108c","g":"cb9efd05bf41e238","name":"on to 1","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1420,"wires":[["754c1e2f9b4fd918"]]},{"id":"eaa322c266556bf3","type":"function","z":"e61416b0225b108c","g":"cb9efd05bf41e238","name":"to enable","func":"if ( msg.payload.circuit == '2_12' ) {\n    newMsg = {\n        'payload': msg.payload.value,\n        'enable': msg.payload.value == 1,\n    };\n} else {\n    newMsg = false;\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1420,"wires":[["26474f820caf9b7b"]]},{"id":"bfaf2bb175189a0f","type":"link in","z":"d7c7821f8578b4b9","name":"PLC imput","links":["f2aaf11886147855","9755fb9f1b4a391e","322c55fa9e05bf69"],"x":55,"y":60,"wires":[["32a5e0dcb6dec6f0","b1f3c4e071308fb6","fc81b531b886ef47","ef8f28cdacf70bbc","dec44a3098c4b0e4","22607a1dd473b42d"]]},{"id":"9f525ee07e39d9a7","type":"inject","z":"d7c7821f8578b4b9","name":"reset heater","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":90,"y":200,"wires":[["113a46da035fa1a3","e1b43099bf10489e","cfdece86c7e41ea8","f4c545dec9a467b8"]]},{"id":"1fe441fc9b280358","type":"ha-entity","z":"d7c7821f8578b4b9","g":"8af8b5d078a2b6e7","name":"1_03","server":"41108723.0bf848","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"unipi_heater_1_03"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:radiator"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":610,"y":260,"wires":[["82202babb3ec3e7c"],["82202babb3ec3e7c"]]},{"id":"fc81b531b886ef47","type":"unipi-input","z":"d7c7821f8578b4b9","g":"8af8b5d078a2b6e7","name":"1_03","alias":"","devices":"relay_do","circuits":"1_03","property":"","seedev":"0","seecirc":"0","seeorig":"0","x":330,"y":260,"wires":[["fbb5236232af45c3"]]},{"id":"e1b43099bf10489e","type":"unipi-output","z":"d7c7821f8578b4b9","g":"8af8b5d078a2b6e7","name":"1_03","cmd":"set","alias":"","devices":"relay_do","circuits":"1_03","enableFil":"1","inputFil":"","relayFil":"","digoutFil":"","analoutFil":"","analinFil":"","ledFil":"","x":1050,"y":260,"wires":[["fe593608f63f33ce"]]},{"id":"fbb5236232af45c3","type":"function","z":"d7c7821f8578b4b9","g":"8af8b5d078a2b6e7","name":"to enable","func":"if ( msg.payload.circuit == '1_03' && msg.payload.relay_type == \"digital\" ) {\n    newMsg = {\n        'payload': msg.payload.value,\n        'enable': msg.payload.value == 1,\n        'devices': '1_03',\n    };\n} else {\n    newMsg = false;\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":260,"wires":[["1fe441fc9b280358"]]},{"id":"f638655ca218dcbc","type":"trigger","z":"d7c7821f8578b4b9","g":"8af8b5d078a2b6e7","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"90","extend":false,"overrideDelay":true,"units":"s","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":910,"y":260,"wires":[["e1b43099bf10489e"]]},{"id":"1fdfa8913a7910cd","type":"ha-entity","z":"d7c7821f8578b4b9","g":"213ddd612dd8a967","name":"1_02","server":"41108723.0bf848","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"unipi_heater_1_02"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:radiator"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":610,"y":160,"wires":[["d9a9c12b4488a331"],["d9a9c12b4488a331"]]},{"id":"b1f3c4e071308fb6","type":"unipi-input","z":"d7c7821f8578b4b9","g":"213ddd612dd8a967","name":"1_02","alias":"","devices":"relay_do","circuits":"1_02","property":"","seedev":"0","seecirc":"0","seeorig":"0","x":330,"y":160,"wires":[["87feb35afb6014e3"]]},{"id":"f4c545dec9a467b8","type":"unipi-output","z":"d7c7821f8578b4b9","g":"213ddd612dd8a967","name":"1_02","cmd":"set","alias":"","devices":"relay_do","circuits":"1_02","enableFil":"1","inputFil":"","relayFil":"","digoutFil":"","analoutFil":"","analinFil":"","ledFil":"","x":1050,"y":160,"wires":[["fe593608f63f33ce"]]},{"id":"87feb35afb6014e3","type":"function","z":"d7c7821f8578b4b9","g":"213ddd612dd8a967","name":"to enable","func":"if ( msg.payload.circuit == '1_02' && msg.payload.relay_type == \"digital\") {\n    newMsg = {\n        'payload': msg.payload.value,\n        'enable': msg.payload.value == 1,\n        'devices': '1_02',\n    };\n} else {\n    newMsg = false;\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":160,"wires":[["1fdfa8913a7910cd"]]},{"id":"bd5505f6a9f79a94","type":"trigger","z":"d7c7821f8578b4b9","g":"213ddd612dd8a967","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"90","extend":false,"overrideDelay":true,"units":"s","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":910,"y":160,"wires":[["f4c545dec9a467b8"]]},{"id":"0a3196b93717ef49","type":"ha-entity","z":"d7c7821f8578b4b9","g":"b22450ba7cac7e21","name":"1_01","server":"41108723.0bf848","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"unipi_heater_1_01"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:radiator"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":610,"y":60,"wires":[["c0d292af471e6c15"],["c0d292af471e6c15"]]},{"id":"32a5e0dcb6dec6f0","type":"unipi-input","z":"d7c7821f8578b4b9","g":"b22450ba7cac7e21","name":"1_01","alias":"","devices":"relay_do","circuits":"1_01","property":"","seedev":"0","seecirc":"0","seeorig":"0","x":330,"y":60,"wires":[["d9df55183fb3675c"]]},{"id":"113a46da035fa1a3","type":"unipi-output","z":"d7c7821f8578b4b9","g":"b22450ba7cac7e21","name":"1_01","cmd":"set","alias":"","devices":"relay_do","circuits":"1_01","enableFil":"1","inputFil":"","relayFil":"","digoutFil":"","analoutFil":"","analinFil":"","ledFil":"","x":1050,"y":60,"wires":[["fe593608f63f33ce"]]},{"id":"d9df55183fb3675c","type":"function","z":"d7c7821f8578b4b9","g":"b22450ba7cac7e21","name":"to enable","func":"if ( msg.payload.circuit == '1_01' && msg.payload.relay_type == \"digital\") {\n    newMsg = {\n        'payload': msg.payload.value,\n        'enable': msg.payload.value == 1,\n        'devices': '1_01',\n    };\n} else {\n    newMsg = false;\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":60,"wires":[["0a3196b93717ef49"]]},{"id":"06b55f338ed1e17d","type":"trigger","z":"d7c7821f8578b4b9","g":"b22450ba7cac7e21","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"90","extend":false,"overrideDelay":true,"units":"s","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":910,"y":60,"wires":[["113a46da035fa1a3"]]},{"id":"ef8f28cdacf70bbc","type":"unipi-input","z":"d7c7821f8578b4b9","g":"3673d0265ccaf68b","name":"1_04","alias":"","devices":"relay_do","circuits":"1_04","property":"","seedev":"0","seecirc":"0","seeorig":"0","x":330,"y":360,"wires":[["69019a5f87662ce1"]]},{"id":"cfdece86c7e41ea8","type":"unipi-output","z":"d7c7821f8578b4b9","g":"3673d0265ccaf68b","name":"1_04","cmd":"set","alias":"","devices":"relay_do","circuits":"1_04","enableFil":"1","inputFil":"","relayFil":"","digoutFil":"","analoutFil":"","analinFil":"","ledFil":"","x":1050,"y":360,"wires":[["fe593608f63f33ce"]]},{"id":"69019a5f87662ce1","type":"function","z":"d7c7821f8578b4b9","g":"3673d0265ccaf68b","name":"to enable","func":"if ( msg.payload.circuit == '1_04' && msg.payload.relay_type == \"digital\" ) {\n    newMsg = {\n        'payload': msg.payload.value,\n        'enable': msg.payload.value == 1,\n        'devices': '1_04',\n    };\n} else {\n    newMsg = false;\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":360,"wires":[["690228f758ec4a88"]]},{"id":"690228f758ec4a88","type":"ha-entity","z":"d7c7821f8578b4b9","g":"3673d0265ccaf68b","name":"1_04","server":"41108723.0bf848","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"unipi_heater_1_04"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:radiator"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":610,"y":360,"wires":[["92deb72f31373ca1"],["92deb72f31373ca1"]]},{"id":"8b6e803990bfd917","type":"trigger","z":"d7c7821f8578b4b9","g":"3673d0265ccaf68b","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"90","extend":false,"overrideDelay":true,"units":"s","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":910,"y":360,"wires":[["cfdece86c7e41ea8"]]},{"id":"2c71b6e976100a17","type":"debug","z":"e61416b0225b108c","name":"states","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":150,"y":80,"wires":[]},{"id":"322c55fa9e05bf69","type":"link out","z":"e61416b0225b108c","name":"PLC output","links":["bfaf2bb175189a0f"],"x":125,"y":40,"wires":[]},{"id":"dec44a3098c4b0e4","type":"unipi-input","z":"d7c7821f8578b4b9","name":"colt wather","alias":"","devices":"temp","circuits":"28D87607D6013C1D","property":"value","seedev":"0","seecirc":"0","seeorig":"0","x":330,"y":440,"wires":[["b30bca1ff66694de"]]},{"id":"22607a1dd473b42d","type":"unipi-input","z":"d7c7821f8578b4b9","name":"hot wather","alias":"","devices":"temp","circuits":"28FF09BCA1150417","property":"value","seedev":"0","seecirc":"0","seeorig":"0","x":510,"y":440,"wires":[["ad4a7fbf6c95864d"]]},{"id":"b30bca1ff66694de","type":"ha-entity","z":"d7c7821f8578b4b9","name":"colt_wather","server":"41108723.0bf848","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"colt_heater_wather"},{"property":"device_class","value":"temperature"},{"property":"icon","value":"mdi:radiator"},{"property":"unit_of_measurement","value":"C"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":330,"y":480,"wires":[[]]},{"id":"ad4a7fbf6c95864d","type":"ha-entity","z":"d7c7821f8578b4b9","name":"hot_wather","server":"41108723.0bf848","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"hot_heater_wather"},{"property":"device_class","value":"temperature"},{"property":"icon","value":"mdi:radiator"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":510,"y":480,"wires":[["e9d6dc0bcf5329e1"]]},{"id":"9edff7a26fdafa48","type":"api-call-service","z":"d7c7821f8578b4b9","name":"","server":"41108723.0bf848","version":3,"debugenabled":false,"service_domain":"climate","service":"turn_{{payload}}","entityId":"climate.kithcen","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":480,"wires":[[]]},{"id":"220f0c6b4e2be316","type":"switch","z":"d7c7821f8578b4b9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"40","vt":"str"},{"t":"gte","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":440,"wires":[["177289b0968b5146"],[]]},{"id":"177289b0968b5146","type":"change","z":"d7c7821f8578b4b9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":440,"wires":[["9edff7a26fdafa48","0d262397d80c6bd5","e204dd9802a2946b","93d1f632fe22b1bd"]]},{"id":"0d262397d80c6bd5","type":"api-call-service","z":"d7c7821f8578b4b9","name":"","server":"41108723.0bf848","version":3,"debugenabled":false,"service_domain":"climate","service":"turn_{{payload}}","entityId":"climate.bathroom","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":520,"wires":[[]]},{"id":"e204dd9802a2946b","type":"api-call-service","z":"d7c7821f8578b4b9","name":"","server":"41108723.0bf848","version":3,"debugenabled":false,"service_domain":"climate","service":"turn_{{payload}}","entityId":"climate.backeard_1","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":560,"wires":[[]]},{"id":"93d1f632fe22b1bd","type":"api-call-service","z":"d7c7821f8578b4b9","name":"","server":"41108723.0bf848","version":3,"debugenabled":false,"service_domain":"climate","service":"turn_{{payload}}","entityId":"climate.backeard_2","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":600,"wires":[[]]},{"id":"1ddf04b515c6dedd","type":"link in","z":"e61416b0225b108c","name":"PLC in","links":["fe593608f63f33ce"],"x":1195,"y":380,"wires":[["44b5731470812754"]]},{"id":"fe593608f63f33ce","type":"link out","z":"d7c7821f8578b4b9","name":"PLC out","links":["1ddf04b515c6dedd"],"x":1185,"y":60,"wires":[]},{"id":"c0d292af471e6c15","type":"function","z":"d7c7821f8578b4b9","g":"b22450ba7cac7e21","name":"","func":"if (msg.playload == 'on') {\n    msg.playload = 1;\n}\nif (msg.playload == 'off') {\n    msg.playload = 0;\n}\nif (flow.get('unipi-super')) {\n    var currSet = flow.get('unipi-super');\n    if (msg.playload == 1 && currSet['temp_28FF09BCA1150417'] < 40 && currSet['temp_28FF09BCA1150417_diff'] <= 0) {\n        msg.playload = 0;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":60,"wires":[["06b55f338ed1e17d"]]},{"id":"53d9df858f069536","type":"link out","z":"e61416b0225b108c","name":"PLC digital out","links":["e6f985dd16c44743"],"x":105,"y":960,"wires":[]},{"id":"e6f985dd16c44743","type":"link in","z":"d7c7821f8578b4b9","name":"PLC digital in","links":["53d9df858f069536"],"x":55,"y":320,"wires":[["d9df55183fb3675c","87feb35afb6014e3","fbb5236232af45c3","69019a5f87662ce1"]]},{"id":"e9d6dc0bcf5329e1","type":"debug","z":"d7c7821f8578b4b9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":660,"wires":[]},{"id":"3f2846921f247fd5","type":"debug","z":"e61416b0225b108c","name":"temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":150,"y":320,"wires":[]},{"id":"826f0804abc30c6a","type":"debug","z":"e61416b0225b108c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":160,"wires":[]},{"id":"be4da9a91a4ec8df","type":"function","z":"e61416b0225b108c","name":"To array","func":"if (Array.isArray(msg.payload) === false){\n    msg.payload = [msg.payload];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":500,"wires":[["30b65b10a580143f"]]},{"id":"d9a9c12b4488a331","type":"function","z":"d7c7821f8578b4b9","g":"213ddd612dd8a967","name":"","func":"if (msg.playload == 'on') {\n    msg.playload = 1;\n}\nif (msg.playload == 'off') {\n    msg.playload = 0;\n}\nif (flow.get('unipi-super')) {\n    var currSet = flow.get('unipi-super');\n    if (msg.playload == 1 && currSet['temp_28FF09BCA1150417'] < 40 && currSet['temp_28FF09BCA1150417_diff'] <= 0) {\n        msg.playload = 0;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":160,"wires":[["bd5505f6a9f79a94"]]},{"id":"82202babb3ec3e7c","type":"function","z":"d7c7821f8578b4b9","g":"8af8b5d078a2b6e7","name":"","func":"if (msg.playload == 'on') {\n    msg.playload = 1;\n}\nif (msg.playload == 'off') {\n    msg.playload = 0;\n}\nif (flow.get('unipi-super')) {\n    var currSet = flow.get('unipi-super');\n    if (msg.playload == 1 && currSet['temp_28FF09BCA1150417'] < 40 && currSet['temp_28FF09BCA1150417_diff'] <= 0) {\n        msg.playload = 0;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":260,"wires":[["f638655ca218dcbc"]]},{"id":"92deb72f31373ca1","type":"function","z":"d7c7821f8578b4b9","g":"3673d0265ccaf68b","name":"","func":"if (msg.playload == 'on') {\n    msg.playload = 1;\n}\nif (msg.playload == 'off') {\n    msg.playload = 0;\n}\nif (flow.get('unipi-super')) {\n    var currSet = flow.get('unipi-super');\n    if (msg.playload == 1 && currSet['temp_28FF09BCA1150417'] < 40 && currSet['temp_28FF09BCA1150417_diff'] <= 0) {\n        msg.playload = 0;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":360,"wires":[["8b6e803990bfd917"]]}]